<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Home</title>
</head>
<body>
    <h1>Lista de Productos</h1>
        <ul id="product-list">
            {{#each products}}
                <li class="card" data-id="{{this.id}}"> 
                    <span class="product-code">{{this.code}}</span> - 
                    <span class="product-category">{{this.category}}</span> - 
                    <span class="product-title">{{this.title}}</span>
                    <br>
                    Id: <span class="product-title">{{this._id}}</span>
                    <br>
                    <span class="product-description">{{this.description}}</span>
                    <br> 
                    Precio: $<span class="product-price">{{this.price}}</span> - 
                    Stock: <span class="product-stock">{{this.stock}}</span>
                </li>
            {{/each}}
        </ul>
</body>
</html>