<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos Paginados</title>
    <link rel="stylesheet" href="/path/to/styles.css">
</head>
<body>
    <h1>Productos Paginados</h1>
    
    <ul id="product-list">
        {{#each products}}
            <li class="product-item">
                <span class="product-code">{{this.code}}</span>
                <br>
                <span class="product-category">{{this.category}}</span> - 
                <span class="product-title">{{this.title}}</span>
                <br>
                Notas: <span class="product-description">{{this.description}}</span>
                <br> 
                Precio: $<span class="product-price">Precio: ${{this.price}}</span> - 
                Stock: <span class="product-stock">Stock: {{this.stock}}</span>
            </li>
        {{/each}}
    </ul>

    <div class="pagination">
        <!-- Botón Anterior -->
        <button id="prevPage" 
            {{#if hasPrevPage}} 
                onclick="window.location='?page={{prevPage}}&limit={{limit}}&sort={{sort}}&category={{category}}&inStock={{inStock}}'"
            {{else}} 
                disabled
            {{/if}}>
            Anterior
        </button>

        <!-- Mostrar número de página -->
        <span> Página {{page}} de {{totalPages}} </span>

        <!-- Botón Siguiente -->
        <button id="nextPage" 
            {{#if hasNextPage}} 
                onclick="window.location='?page={{nextPage}}&limit={{limit}}&sort={{sort}}&category={{category}}&inStock={{inStock}}'"
            {{else}} 
                disabled
            {{/if}}>
                Siguiente
        </button>
    </div>

</body>
</html>
